.card {
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  perspective: 1000px;
  height: 100px;
  width: 250px;
  margin: 20px auto 0 auto;


  

  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}

.cardFront, 
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFront {
  background-color:#6bd839;
  color: black;
}

.cardBack {
  background-color: #9ba8a1;
  color: white;
  transform: rotateY(180deg);
}